* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/*-------------------- header --------------------*/

.header-head {
  background: black;
  display: flex;
  color: beige;
  justify-content: space-evenly;
  padding: 15px 0px;
  font-size: 11px;
}
.header-head-items {
  display: flex;
  gap: 20px;
  color: gray;
}
/*---------------------- nav---------------------- */

nav {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
  position: relative;
}
.nav-image {
  position: absolute;
  left: 7rem;
  top: -2rem;
}
.nav-image img {
  height: 5.6rem;
}
.nav-navbar {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.nav-navbar a {
  color: black;
  text-decoration: none;
}
.nav-icons {
  display: flex;
  gap: 20px;
  position: relative;
}

button {
  border-radius: 5px;
  background-color: #ff6600;
  height: 0.9rem;
  width: 0.9rem;
  border: none;
  top: -0.1rem;
  right: -0rem;
  position: absolute;
}

/* --------------------------section-1-------------------------- */

.section-puma {
  position: relative;
}
.section-items {
  padding-top: 10rem;
  background-image: url(puma.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 40rem;
  text-align: center;
}
.logo {
  width: 4rem;
  height: 4rem;
}
#bar {
  background-color: #ff6600;
  width: 4rem;
  height: 0.1rem;
  position: absolute;
  left: 47.8%;
}
h1 {
  color: #fff;
  font-size: 4rem;
  margin-top: 6rem;
}
.section-items p {
  color: gray;
  line-height: 4rem;
}
.section-items span {
  border: 1px solid white;
  padding: 15px;
  font-size: 11px;
  color: #fff;
  font-weight: bold;
}
.out {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  align-items: center;
  gap: 15px;
}
.row {
  background-color: gray;
  border-radius: 50%;
  width: 0.2rem;
  height: 0.2rem;
}
/*-------------------------- section-2--------------------------*/

.section-photo {
  background-color: gainsboro;
  width: 100%;
  height: 500px;
}
.col {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -5rem;
}
.nixon {
 background-color: #ff6600;
 width: 30%;
 height: 20rem;
 position: relative;
}
.bord{
  border: 4px solid white;
  width: 80%;
  height: 195px;
  bottom: 2.9rem;
  position: absolute;
  left: 10%;
  z-index: 1;
}
.border{
  background-color: #ff4500;
  width: 30%;
  height: 100px;
  position: absolute;
  top: -0.5rem;
  left: -2rem;
  
}
.border h2{
  color: #fff;
  max-width: 250px;
  font-size: 30px;
  position: absolute;
  left: 1.5rem;
}
.watch{
  position: absolute;
  top: 18rem;
  left: 3rem  ;
  font-weight: 900;
  font-size: 9px;
  color: #fff;
}
/* ---------------------------partie 2e photo--------------------------- */
.air {
  background-color: #d1d1d1;
  width: 30%;
  height: 20rem;
  position: relative;
}
.black{
  border: 4px solid white;
  width: 80%;
  height: 200px;
  bottom: 2.9rem;
  position: absolute;
  left: 10%;
  z-index: 1;
}
.white{
  background-color: #9b9b9b;
  width: 50%;
  height: 100px;
  position: absolute;
  top: -0.5rem;
  left: -2rem;
  
}
.white h2{
  color: #fff;
  max-width: 220px;
  font-size: 30px;
  position: absolute;
  left: 1.5rem;
}
.shoes{
  position: absolute;
  top: 18rem;
  left: 3rem  ;
  font-size: 9px;
  font-weight: 900;
  color: #fff;
}

/*------------------------- responsive------------------------- */

@media screen and (max-width: 768px) {
  header{
  }
  .header-head{
    width: 100%;
    display: flex;
    gap: 10px;
    /* display: none; */
    flex-wrap: wrap;
  }
  .header-head-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: gray;
    font-size: 10px;
  }
  nav{
    width: 100%;
  }
  .nav-navbar{
    width: 100%;
    display: flex;
    gap: 25px;
  }
  .nav-image img {
   display: none;
  }
  .nav-navbar a {
   font-size: 12px;
  }
  .nav-icons {
    display: flex;
    gap: 10px;
    
  }
  button {
    height: 0.8rem;
    width: 0.8rem;
  }
  #bar {
    background-color: #ff6600;
    width: 4rem;
    height: 0.1rem;
    position: absolute;
    left: 42%;
  }
  .out {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    align-items: center;
    gap: 15px;
  }
  .col {
    display: flex;
    flex-direction: column;
  }
  .nixon {
    width: 100%;
    height: 20rem;
    position: relative;
    right: 0rem;
   }
   .nixon img{
    width: 100%;
    height: 20rem;
   }
   .air {
    width: 100%;
    height: 20rem;
    position: relative;
    right: 0rem;
   }
   .air img{
    width: 100%;
    height: 20rem;
   }
   .white h2{
    color: #fff;
    max-width: 220px;
    font-size: 25px;
  }
}
